label {
    position: absolute;
    left: 0px;
    top: 0;
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
    font-size: 20px;
    color: $black;
    cursor: text;
    z-index: 1;
    @extend %disable-click;
}

label > * {
    @extend %enable-click;
}

.label-step {
    display: none;
    position: relative;
    z-index: 1;
    
    // indicator
    &:before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 33.33%;
      background-color: $green;
      display: block;
      height: 10px;
    }
}

.label-step1 {
    display: block;
}

@for $i from 1 through $numberOfSteps - 1 {
    #checkbox-step#{$i} {
      color: white;
  
      &:checked {
        // current step
        & ~ .label-step#{$i} > * {
          display: none;
        }
  
        // next step
        & ~ .label-step#{$i + 1} {
          display: block;
        }
      }
    }
}

@for $i from 1 through $numberOfSteps {
    // indicator size
    .label-step#{$i} {
      &:before {
        width: #{$i * 33.333%};
      }
    }
  }
  