// remove default placeholders
::-webkit-input-placeholder {
    color: transparent;
}
  
::-moz-placeholder {
    color: transparent;
}

:-ms-input-placeholder {
    color: transparent;
}
  
:-moz-placeholder {
    color: transparent;
}